@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.hotel-location {
  display: flex;
  justify-content: center;
}

.hotel-info {
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hotel-info img {
  width: 500px;
  border-radius: 16px;

}

.hotel-info p {
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.book_btn {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.book_btn:hover {
  background-color: var(--primary-color-dark);
}




form {
 
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.star-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Style for stars */
.star-rating {
  
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}


.comment {
  margin-top: 24px;
}



.star-container p, .comment p {
  font-size: 18px;
  font-weight: var(--fw-semibold);
}

textarea {
  padding: 8px 16px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;

}



.reviewform button {
  border: none;
  outline: none;
  border-radius: 4px;
  width: 400px;
  margin-top: 12px;
  padding: 8px 16px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}